<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMI Spieleabend</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="container">
  <div class="container mt-5">
    <h1 class="text-center">Umfrage</h1>
    <form id="surveyForm" action="/submit_form" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="teilnehmer" id="name" placeholder="Geben Sie Ihren Namen ein">
      </div>
<!--umfrage-->
      <div class="form-group">
        <label>Welcher Tag passt Ihnen am besten?</label>
        <div id="daysContainer" class="d-flex justify-content-between">
          <!-- Die Tage werden hier dynamisch eingefügt -->
        </div>
      </div>
      <button id="submitButton" type="submit" class="btn btn-primary">Absenden</button>
    </form>
  </div>

</main>


<footer></footer>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/javascripts/umfrage.js"></script>
</body>

</html>